<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Greetings</title>
  </head>
  <body>
    <h1>List of todos:</h1>
    <ul>
        <% todos.forEach(function(item){ %>
            <li> <%= item %> </li>
        <% }); %>  
    </ul>
    
  </body>
</html>